<div class="inscription">
  <div class="form-inscription">
    <%= image_tag("Pictogramme-EazIA.png", alt:"logo eazia", class:"logo") %>
    <div class="text-wrapper">Créer un compte</div>

  <div class="form" data-controller="autorisation-form" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%# <%= link_to "Se Connecter avec Facebook", user_facebook_omniauth_authorize_path, method: :post, data: { turbo: false } %>


        <div class="field-inscription">
          <%= f.text_field :first_name, class: " div-wrapper property-input-inscription", placeholder: "Prenom", data: {action:"blur->autorisation-form#validateField", autorisation_form_target:"input"} %>
          <p  class="d-none" data-autorisation-form-target="error" data-input-name="user[first_name]">le prénom est obligatoire</p>
        </div>

        <div class="field-inscription">
          <%= f.text_field :last_name, class: " div-wrapper property-input-inscription", placeholder: "Nom", data: {action:"blur->autorisation-form#validateField", autorisation_form_target:"input"} %>
          <p  class="d-none" data-autorisation-form-target="error" data-input-name="user[last_name]">le nom est obligatoire</p>
        </div>



        <div class="field-inscription">
          <%= f.email_field :email, autocomplete: "email", class: " div-wrapper property-input-inscription", placeholder: "Email", data: {action:"blur->autorisation-form#validateField", autorisation_form_target:"input"} %>
          <p  class="d-none" data-autorisation-form-target="error" data-input-name="user[email]">l'email est obligatoire</p>
        </div>

        <div class="field-inscription">
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: " div-wrapper property-input-inscription", placeholder: "Mot de passe (6 caractères min)", data: {action:"blur->autorisation-form#validateField", autorisation_form_target:"input"} %>
          <p  class="d-none " data-autorisation-form-target="error" data-input-name="user[password]">le mot de passe est obligatoire</p>
        </div>



        <div class="field-inscription">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: " div-wrapper property-input-inscription", placeholder: "Confirmation du mot de passe", data: {action:"blur->autorisation-form#validateField", autorisation_form_target:"input"} %>
          <p  class="d-none" data-autorisation-form-target="error" data-input-name="user[password_confirmation]">la confirmation du mot de passe est obligatoire</p>
        </div>

        <div class="field-inscription">
          <%= f.text_field :company, class: " div-wrapper property-input-inscription", placeholder: "Nom de votre entreprise", data: {action:"blur->autorisation-form#validateField", autorisation_form_target:"input"}%>
          <p  class="d-none" data-autorisation-form-target="error" data-input-name="user[company]">le nom de votre entreprise est obligatoire</p>
        </div>



        <div class="field-inscription">
          <%= f.text_area :information, class:"activite", class: " div-wrapper property-input-inscription", placeholder: "Quelques mots sur votre entreprise", data: {action:"blur->autorisation-form#validateField", autorisation_form_target:"input"} %>
          <p  class="d-none" data-autorisation-form-target="error" data-input-name="user[information]">ce champs est obligatoire</p>
        </div>



        <div class="field-inscription">
          <%= f.text_field :instagram, class: " div-wrapper property-input-inscription", placeholder: "Pseudo instagram", data: {action:"blur->autorisation-form#validateField", autorisation_form_target:"input"} %>
          <p  class="d-none" data-autorisation-form-target="error" data-input-name="user[instagram]">Votre identifiant instagram est obligatoire</p>
        </div>


       <div class="field-checkbox">
          <div class="check">
            <input type="checkbox"  id="termsCheckbox" data-autorisation-form-target="checkbox" >
            <label for="termsCheckbox"> J'ai pris connaissance et j'accepte les conditions générales de ventes et la politique de confidentialité d'Eazia</label>
          </div>
          <div class="conditions">
            <%= link_to "Lire les Conditions Générales de Ventes ", pages_cgv_path %>
            <%= link_to "et lire la politique de confidentialité", pages_legal_path %>
          </div>
          <div  class=" error hidden" data-autorisation-form-target="myErrorMessage">
            <span >Vous devez accepter les termes et conditions pour continuer.</span>
          </div>
        </div>

        <div class="actions-inscription">
          <%= f.submit "Créer un compte", class:"main-bouton", data: { action: "submit->autorisation-form#validateForm" } %>
        </div>
      <% end %>
    </div>

  <%= render "devise/shared/links" %>

</div>
</div>
