<div class="container">
<h3>S'inscrire</h3>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="form-column">
  <div class="field-inscription">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field-inscription">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>


  <div class="field-inscription">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field-inscription">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractères min)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field-inscription">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  </div>

<div class="form-column">
    <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :information %><br />
    <%= f.text_area :information, class:"activite" %>
  </div>

    <div class="field">
    <%= f.label :instagram %><br />
    <%= f.text_field :instagram %>
  </div>
</div>

<div>
  <%= link_to"" "Besoin d'un expert?"%><br>
</div>

<%# <div class="field-2 field-checkbox">
              <%= f.check_box :concentement %>
              <%# <%= f.label :concentement, "En cochant cette case j'accepte les CGV d'EazIA" %>
            <%# </div> %>

  <div class="actions-inscription">
    <%= f.submit "S'inscrire", class:"btn-inscription"%>
  </div>
<% end %>


<%= render "devise/shared/links" %>
<div>
