<div class="compte">
<%- if controller_name != 'sessions' %>
<p>Vous avez déjà un compte ? </p>
  <%= link_to "Connexion", new_session_path(resource_name) %>
<% end %>
</div>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<div class="compte">
  <p> Vous n'avez pas encore de compte ? </p>
  <div><%= link_to "Créer un compte", pages_inscription_path %></div>
</div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<div class="mdp"><%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %><br /></div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
  <% end %>
<% end %>
