<div class="form-connect">
  <h1>Bienvenue !</h1>
    <h3>Se connecter</h3>

    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v19.0&appId=598892545759939" nonce="vTngHYgd"></script>

<div class="fb-login-button" data-width="100" data-size="" data-button-type="" data-layout="" data-auto-logout-link="false" data-use-continue-as="false"></div>

  <div class="form-connexion" data-controller="autorisation-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", data: {action:"blur->autorisation-form#validate", autorisation_form_target:"input"} %>
      <p  class="d-none text-danger fst-italic" data-autorisation-form-target="error" data-input-name="user[email]" style="font-size: 14px;">l'email est obligatoire</p>
    </div>

    <div class="field">
      <%= f.label :password, "Mot de Passe" %><br>
      <%= f.password_field :password, autocomplete: "current-password", data: {action:"blur->autorisation-form#validate", autorisation_form_target:"input"}  %>
      <p  class="d-none text-danger fst-italic" data-autorisation-form-target="error" data-input-name="user[password]" style="font-size: 14px;">le mot de passe est obligatoire</p>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field-2 ">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Se souvenir de moi" %>
      </div>
    <% end %>


    <div class="actions">
      <%= f.submit "Connexion", class: "btn-connexion" %>
    </div>
    <% end %>

  </div>

  <%= render "devise/shared/links" %>

</div>
