<%# "app/views/payments/_product.html.erb" %>

<%= link_to product_payments_checkout_path(product), class:"col-4" do %>
  <div>
    <h4 class="text-center">
      <%= product.name %>
    </h4>
    <h5 class="text-center">
      <%= product.price %> €
    </h5>
    <p>
      <% if product.amount %>
        <%= product.amount %>
        jetons crédités instantanément dans votre porte-monnaie.
      <% end %>
    </p>
    <p>
      <%= product.description %>
    </p>
  </div>

  <% end %>
