<%# "app/views/payments/_product.html.erb" %>

<%= link_to subscription_payments_checkout_path(subscription), class:"col-4" do %>
  <div>
    <h5 class="text-center">
      <%= subscription.name %>
    </h5>
    <h6 class="text-center">
      <%= subscription.price %> €
       /
      <%= subscription.duration %>
    </h6>
    <p>
      <%= subscription.description %>
    </p>
  </div>

  <% end %>
