<%# "app/views/payments/_product.html.erb" %>

<%= link_to subscription_payments_checkout_path(subscription) do %>
  <div class="col-4">
    <h4>
      <%= subscription.name %>
    </h4>
    <h5>
      <%= subscription.price %> €
       /
      <%= subscription.duration %>
    </h5>
    <p>
      <%= subscription.description %>
    </p>
  </div>

  <% end %>
