<div id="myCarousel"  class="carousel slide" data-ride="carousel">

  <div class="carousel-indicators-images">
    <% if photos_selected.length >= 1 %>
      <% photos_selected.each_with_index do |photo, i| %>
        <div data-bs-slide-to="<%=i%>" class="<%= i== 0 ? "active" : "" %> rounded-circle card-indicator">
        </div>
      <%end%>
      <%else%>
      <div class="no-image">
      <%= image_tag("no_image_insta.png", alt:"insta no image")%>
      </div>
    <%end%>
  </div>

  <div class="carousel-inner" data-controller="show-imgs" id="insta-photos">
    <% photos_selected.each_with_index do |photo, i| %>
      <div class="carousel-item <%= i == 0 ? "active" : "" %>">
        <%= cl_image_tag photo.key, class:"crop", data: { show_imgs_target: "image", src: photo.key } %>
      </div>
    <% end %>
  </div>

  <% if photos_selected.length > 1 %>
    <%= render "layouts/instagram/btn_carousel_show" %>
  <% end %>

</div>
