<div class="d-none loader" data-loader-target="chargement" >
  <div class="titre">
      <span class="lettre">C</span>
      <span class="lettre">H</span>
      <span class="lettre">A</span>
      <span class="lettre">R</span>
      <span class="lettre">G</span>
      <span class="lettre">E</span>
      <span class="lettre">M</span>
      <span class="lettre">E</span>
      <span class="lettre">N</span>
      <span class="lettre">T</span>
    </div>

  <%= image_tag 'Vector.svg', class: 'vector' %>
  <%= image_tag 'Vector.svg', class: 'vector11' %>
  <%= image_tag 'Vector.svg', class: 'vector12' %>
  <%= image_tag 'Vector.svg', class: 'vector13' %>
  <%= image_tag 'vector1.svg', class: 'vector1' %>
  <%= image_tag 'Vector2.svg', class: 'vector2' %>
  <%= image_tag 'Vector3.svg', class: 'vector3' %>
  <%= image_tag 'Vector3.svg', class: 'vector4' %>
  <%= image_tag 'Vector4.svg', class: 'vector5' %>
  <%= image_tag 'Vector2.svg', class: 'vector10' %>
  <%= image_tag 'Vector5.svg', class: 'vector6' %>
  <%= image_tag 'Vector6.svg', class: 'vector6' %>
  <%= image_tag 'Vector2.svg', class: 'vector8' %>
  <%= image_tag 'Vector7.svg', class: 'vector7' %>
  <%= image_tag 'Vector2.svg', class: 'vector9' %>

</div>

    <%# <div class="box"> %>
    <%# </div> %>

      <%# <div class="box2">
        <img class="vector" src="app/assets/images/Vector.svg" />
      </div>
      <div class="box3">
        <img class="vector" src="Vector.svg" />
      </div>
      <div class="box4">
        <img class="vector" src="Vector.svg" />
      </div> %>
