<div class="gnrateur" data-controller="autorisation-form">
  <%= form_for(@post, data: { action: "submit->autorisation-form#validateForm"}) do |f| %>
    <%= f.text_area :prompt, wrap: "soft", placeholder: "Saisissez en quelques mots le sujet de votre prochain post", data: {action:"blur->autorisation-form#validatePrompt", autorisation_form_target:"prompt"} %>

    <div data-controller="modal">
  <a href="#" data-action="click->modal#open"><i class="fa fa-info-circle"></i></a>
    <div class="modal hidden" data-modal-target="info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informations</h5>
        <button data-action="click->modal#close">Fermer</button>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Pour optimiser au maximum votre post, n'hésitez pas à donner un maximum de détails. Pas la peine de commencer par "génère moi un post Instagram" Par exemple, vous pouvez écrire : "Balade à vélo en famille dans les Calanques de Marseille au soleil."</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
      <p  class="hidden" data-autorisation-form-target="myErrorMessage" style="font-size: 14px; color: red">la description doit contenir au moins 20 caractères</p>
        <div class="footer-form">

          <div class="form-secondary-bouton">

            <div class="file-upload-wrapper" data-controller="file-upload">
              <%= f.label :photos, "Ajouter vos images", class: "custom-file-upload" %>
              <%= f.file_field :photos, as: :file, multiple: true, data: { action: "change->file-upload#updateFileName", file_upload_target: "source" } %>
              <span data-file-upload-target="fileName" class="file-name"></span>
            </div >

            <div class="generateur-images">
              <%= f.label :pictures_generated do %> Générer des images
              <%end%>
              <%= f.select :pictures_generated, options_for_select(0..5) %>
            </div>

          </div>

          <%= f.submit "Générer mon post", class:"main-bouton", data: { action: "submit->autorisation-form#validateForm"} %>
          <% end %>

        </div>
</div>
