<div data-controller="modal-account">

  <%= render "posts/modal_info", post: @post %>

  <div class="gnrateur" data-controller="autorisation-form">
    <div class="informations">
      <a href="#" data-action="mouseenter->modal-account#open mouseleave->modal-account#close" data-modal-name="info"><i class="fa fa-info-circle"></i></a>
    </div>

    <%= form_for(@post, data: { action: "submit->autorisation-form#validateForm"}) do |f| %>
    <%= f.text_area :prompt, wrap: "soft", placeholder: "Saisissez en quelques mots le sujet de votre prochain post", data: {action:"blur->autorisation-form#validatePrompt", autorisation_form_target:"prompt"} %>
      <p  class="hidden" data-autorisation-form-target="myErrorMessage" style="font-size: 14px; color: red">la description doit contenir au moins 20 caractères</p>

    <div class="footer-form">
      <div class="form-secondary-bouton">

        <div class="informations">
          <a href="#" data-action="mouseenter->modal-account#open mouseleave->modal-account#close" data-modal-name="photo"><i class="fa fa-info-circle"></i></a>
        </div>

        <div class="file-upload-wrapper" data-controller="file-upload">
          <%= f.label :photos, "Ajouter vos images", class: "custom-file-upload" %>
          <%= f.file_field :photos, as: :file, multiple: true, data: { action: "change->file-upload#updateFileName", file_upload_target: "source" } %>
          <span data-file-upload-target="fileName" class="file-name"></span>
        </div >

        <div class="generateur-images">
          <%= f.label :pictures_generated do %> Générer des images
          <%end%>

            <%# helper pour ne pas créer plus de photos que de jetons cf: PostsHelper %>
          <%= f.select :pictures_generated, options_for_select(options(@wallet)), selected: 0 %>
        </div>

        <div class="informations">
          <a href="#" data-action="mouseenter->modal-account#open mouseleave->modal-account#close" data-modal-name="ia"><i class="fa fa-info-circle"></i></a>
        </div>

      </div>

      <%= f.submit "Générer mon post", class:"main-bouton", data: { action: "submit->autorisation-form#validateForm"} %>
      <% end %>
    </div>
  </div>
</div>
