<div class="card carousel-card insta text-center">
  <div class="topbar">
    <div>
      <%= image_tag "photo_alice.jpeg", class:"icon" %>
      <b><%= current_user.instagram %></b>
    </div>
    <div><%= render "layouts/instagram/threepoints" %></div>
  </div>

  <div class="insta-show">
    <div id="myCarousel"  class="carousel slide" data-ride="carousel">

      <div class="carousel-indicators">
        <% if images.length > 1 %>
          <% images.each_with_index do |img, i| %>
            <div data-bs-slide-to="<%=i%>" class="<%= i== 0 ? "active" : "" %> rounded-circle card-indicator">
            </div>
          <%end%>
        <%end%>
      </div>

      <div class="carousel-inner" data-controller="show-imgs" id="insta-photos">
        <% images.each_with_index do |img, i| %>
          <div class="carousel-item <%= i == 0 ? "active" : "" %>">
            <%= cl_image_tag img.key , class:"crop", data: { show_imgs_target: "image", src: img.key } %>
          </div>
        <% end %>
      </div>

      <% if images.length > 1 %>
        <%= render "layouts/instagram/btn_carousel_show" %>
      <% end %>

    </div>
  </div>

  <%= render "layouts/instagram/interaction_btn" %>

  <div class="textcontent" data-controller="toggledescription">
    <b> <%= current_user.instagram %> </b>
      <span data-action="click->toggledescription#fireplus">
        <span data-toggledescription-target="description" style="cursor:pointer;">
          <% if description.size.to_i > 64 %>
            <%= description[0..64] %>
            <span style="color: grey;">...plus</span>
          <% else %>
          <%= description %>
          <% end %>
        </span>
        <span data-toggledescription-target="plus" class="d-none" style="cursor:pointer;"><%= description %></span>
      </span>
  </div>
</div>
