<div class="card carousel-card insta text-center">
  <div class="topbar">
    <div>
      <%= image_tag "photo_alice.jpeg", class:"icon" %>
      <b><%= current_user.instagram %></b>
    </div>
    <div>
      <%= render "layouts/instagram/threepoints" %>
    </div>
  </div>

  <div class="insta-show">
    <%= render "photos/insta-photos", photos_selected: photos_selected %>
  </div>

  <%= render "layouts/instagram/interaction_btn" %>

  <%# Description du post dans la vue instagram %>
  <%= render "gpt_creations/insta-description", description: description %>

</div>
