<h1>Posts#drafts</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <% if post.photos %>
      <% post.photos.each do |img| %>
        <%= cl_image_tag img.key, width: 160 %>
      <% end %>
    <% end %>
    <p><%= post.created_at %></p>
    <p><%= post.gpt_creation.description if post.gpt_creation %></p>
  <% end %>
<% end %>

<%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %>
