<div class="draft">
<h1>Mes brouillons</h1>
<div class="btn-draft">
<%= link_to "Générer un autre post", new_post_path, class:"button-annexe-draft" %>
<%= link_to "Voir mon historique", new_post_path, class:"button-annexe-draft" %>
</div>

<div class="brouillons">
   <% @posts.each do |post| %>
   <%= link_to post_path(post) do %>
      <div class="insta-show-draft">

        <div id="myDraftCarousel<%= post.id %>" class="carousel slide" data-ride="carousel">
          <% if post.photos && post.photos.length > 1 %>
            <div class="carousel-indicators">
              <% post.photos.each.with_index do |img, i| %>
                <div data-target="#myDraftCarousel<%= post.id %>" data-bs-slide-to="<%= i %>" class="<%= 'active' if i.zero? %>"></div>
              <% end %>
            </div>
          <% end %>
          <div class="carousel-inner">
            <% post.photos.each.with_index do |img, i| %>
              <div class="carousel-item <%= 'active' if i.zero? %>">
                <%= cl_image_tag img.key, width: 300, height: 300 %>
              </div>
            <% end %>
          </div>
          <% if post.photos && post.photos.length > 1%>
          <button class="carousel-control-prev" type="button" data-bs-target="#myDraftCarousel<%= post.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myDraftCarousel<%= post.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <%end%>
        </div>

        <div  class="insta-draft-description"data-controller="toggledescription">
          <b> <%= current_user.instagram %> </b>
            <%# <span data-action="click->toggledescription#fireplus"> %>
              <%# <p data-toggledescription-target="description" style="cursor:pointer;"> %>
                <%# <% if post.gpt_creation.description.size.to_i > 64 %>
                  <%# <%= post.gpt_creation.description[0..64] %>
                  <%# <span style="color: grey;">...plus</span> %>
                <%# <% else %>
                <%= post.gpt_creation.description if post.gpt_creation %>
                <%# <% end%>
              <%# </p> %>
              <%# <span data-toggledescription-target="plus" class="d-none" style="cursor:pointer;"><%= post.gpt_creation.description if post.gpt_creation  %>
              <%# </span>  %>
            <%# </span> %>
        </div>

      </div>
      <% end %>
      <% end %>
</div>
</div>
