<div class="container">
<h1>Votre prochain post est à 1 clic</h1>

<%= form_for(@post) do |f| %>

  <div class="prompt">
    <%= f.label :prompt,  "Saisisez en quelques mots le sujet de votre prochain post : "%>
    <%= f.text_area :prompt, autofocus: true, wrap: "soft" %>
  </div>

  <div class="images">
    <%= f.label :prompt,  "Ajoutez vos propres photos ?" %>
    <%= f.file_field :photos, as: :file, multiple: true %><br>
    <%= f.label :pictures_generated,  "Sélectionner le nombre d'images à créer"%>
    <%= f.select :pictures_generated, options_for_select(0..5) %>
  </div>



  <div class="actions">
    <%= f.submit "Générer mon post", class: "btn-valider" %>
  </div>
<% end %>
</div>
