<div class="contenu" data-controller="loader">
  <div class="frame_post" data-loader-target="togglableElement">
    <div class="div_post" >
      <div class="text-wrapper-post">Générer votre post</div>
      <p class="votre-communication">Votre communication enfin automatisée par l&#39;IA</p>
    </div>

    <div id="user-info" data-controller="facebook">
      <button data-facebook-target="button" data-action="click->facebook#facebookLogin" class="btn btn-primary">
        Se connecter à Facebook
      </button>
      <div data-facebook-target="user" class="w-50 mx-auto"></div>
    </div>

    <div class="gnrateur" data-controller="autorisation-form">
      <%= form_for(@post, data: { action: "submit->autorisation-form#validateForm" }) do |f| %>
      <%= f.text_area :prompt, wrap: "soft", placeholder: "Saisissez en quelques mots le sujet de votre prochain post", data: {action:"blur->autorisation-form#validatePrompt", autorisation_form_target:"prompt"} %>
      <p  class="hidden" data-autorisation-form-target="myErrorMessage" style="font-size: 14px; color: red">la description doit contenir au moins 20 caractères</p>
      <div class="footer-form">
      <div class="form-secondary-bouton">
        <div class="file-upload-wrapper" data-controller="file-upload">
          <%= f.label :photos, "Ajouter vos images", class: "custom-file-upload" %>
          <%= f.file_field :photos, as: :file, multiple: true, data: { action: "change->file-upload#updateFileName", file_upload_target: "source" } %>
          <span data-file-upload-target="fileName" class="file-name"></span>
        </div >
        <div class="generateur-images">
          <%= f.label :pictures_generated do %> Générer des images
          <%end%>
          <%= f.select :pictures_generated, options_for_select(0..5) %>
        </div>
        </div>
        <%= f.submit "Générer mon post", class:"main-bouton", data: { action: "submit->autorisation-form#validateForm click->loader#fire"} %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="d-none loader" data-loader-target="chargement" >
    <div class="titre"> Chargement de votre post </div>
    <div class="sous-titre">
      <span> Les images sont en train de charger</span>
    </div>
      <%= image_tag 'Vector.svg', class: 'vector' %>
      <%= image_tag 'Vector.svg', class: 'vector11' %>
      <%= image_tag 'Vector.svg', class: 'vector12' %>
      <%= image_tag 'Vector.svg', class: 'vector13' %>
      <%= image_tag 'vector1.svg', class: 'vector1' %>
      <%= image_tag 'Vector2.svg', class: 'vector2' %>
      <%= image_tag 'Vector3.svg', class: 'vector3' %>
      <%= image_tag 'Vector3.svg', class: 'vector4' %>
      <%= image_tag 'Vector4.svg', class: 'vector5' %>
      <%= image_tag 'Vector2.svg', class: 'vector10' %>
      <%= image_tag 'Vector5.svg', class: 'vector6' %>
      <%= image_tag 'Vector6.svg', class: 'vector6' %>
      <%= image_tag 'Vector2.svg', class: 'vector8' %>
      <%= image_tag 'Vector7.svg', class: 'vector7' %>
      <%= image_tag 'Vector2.svg', class: 'vector9' %>



    </div>
    <%# <div class="box"> %>
    <%# </div> %>

      <%# <div class="box2">
        <img class="vector" src="app/assets/images/Vector.svg" />
      </div>
      <div class="box3">
        <img class="vector" src="Vector.svg" />
      </div>
      <div class="box4">
        <img class="vector" src="Vector.svg" />
      </div> %>
    </div>
  </div>

</div>
