<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<p><%= @post.prompt %></p>

<p><%= @post.description %></p>

<p><%= @description if @description %></p>

<p>
  <% if @images %>
    <% @images.each do |img| %>
      <p><%= img.link %></p>
      <%= image_tag img.link %>
    <% end %>
  <% end %>
</p>
