<div class="show" data-controller="display">

  <div class="creation">
    <div class="creation-images">
      <div>
          <% if @post.photos.attached? %> <!-- Vérifie si le post a des photos attachées -->
            <% @post.photos.each do |img| %>
              <%= cl_image_tag img.key, loading: "lazy" %>
            <% end %>
          <% end %>
        </div>

    </div>

    <div class="prompt-insta"><%= @post.prompt %></div>

  <%= turbo_frame_tag @gpt_creation do %>

    <div class="description">
      <%= @description if @description %>
    </div>
    <%= link_to 'Modifier', edit_post_gpt_creation_path(@post) %>

  <% end %>

    <div>
      <div>

          <!-- # BUTTON RECREER LA DESCRIPTION PAR CHATGPT -->
          <div class="text-center">
            <%= form_for([@post, @gpt_creation], url: recreate_post_gpt_creation_path(@post), method: :patch) do |f| %>
              <%= f.submit "Recréer ✔️", class: "btn btn-primary" %>
            <% end %>
          </div>


      </div>
    </div>
  </div>

  <div class='view-insta decalage' data-display-target="view">
    <div><h4>Vue Instagram</h4></div>
    <div class="instagram"><%= render "insta_show", post: @post, description: @description %></div>
    <div><%= render "show_btns", post: @post %></div>
  </div>

</div>
