<div class="show">

  <div class="creation">

     <div class="creation-images" id="photos">
        <% @post.photos.each_with_index do |photo, i| %>
          <%= cl_image_tag photo.key, loading: "lazy", id: "photo_#{i}", class: "photo_#{photo.id}" %>
          <%= link_to "❌", post_photo_path(@post, photo), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
      </div>

    <div class="gpt">
      <%= render 'gpt_creations/recreate', gpt_creation: @gpt_creation %>

        <div class="recreer" >
          <%= form_for([@post, @gpt_creation], url: recreate_post_gpt_creation_path(@post), method: :patch) do |f| %>
          <%= f.submit "Recréer ✔️",  class:"button-recreer"%>
          <% end %>
        </div>

    </div>
  </div>

  <div class='view-insta decalage' data-display-target="view">

    <div class="instagram" id="instagram">
      <%= render "insta_show", post: @post, description: @description, images: @images %>
    </div>

    <div>
      <%= render "show_btns", post: @post %>
    </div>

  </div>

</div>
