<div class="show">
  <div class="creation">
    <div class="creation-images">
      <% if @images %>
        <% @images.each do |img| %>
        <%= cl_image_tag img.key, width: 200, height: 200 %>
        <% end %>
      <% end %>
    </div>

    <div class="prompt-insta"><%= @post.prompt %></div>

    <div class="description"><%= @description if @description %></div>
  </div>

  <div class='view-insta'>
    <div><h4>Vue Instagram</h4></div>
    <div><%= render "insta_show", post: @post %></div>
    <div><%= render "show_btns", post: @post %></div>
  </div>

</div>
