<div class="show">

  <%= turbo_stream_from "post_#{@post.id}" %>
  <%= @post.photos_selected %>
  <% @post.photos_selected.each do |id| %>
    <% photo = @post.photos.find(id) %>
    <%= cl_image_tag photo.key, loading: "lazy", width:50, height: 50 %>
  <% end %>

  <div class="creation">

     <div class="creation-images" id="photos">
        <% @post.photos.each_with_index do |photo, i| %>
          <%= cl_image_tag photo.key, loading: "lazy", id: "photo_#{i}", class: "photo_#{photo.id}" %>
          <%= form_for([@post, photo], url: select_post_photo_path(@post, photo), method: :patch) do |f| %>
            <%= f.submit "Select ?" %>
          <% end %>
          <%= link_to "❌", post_photo_path(@post, photo), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de supprimer la photo ?"} %>
        <% end %>
      </div>



    <div class="gpt">
      <%= render 'gpt_creations/recreate', gpt_creation: @gpt_creation %>

        <div class="recreer" >
          <%= form_for([@post, @gpt_creation], url: recreate_post_gpt_creation_path(@post), method: :patch) do |f| %>
          <%= f.submit "Recréer ✔️",  class:"button-recreer"%>
          <% end %>
        </div>

    </div>
  </div>

  <div class='view-insta decalage' data-display-target="view">

    <div class="instagram" id="instagram">
      <%= render "insta_show", post: @post, description: @description, photos_selected: @photos_selected %>
    </div>

    <div>
      <%= render "show_btns", post: @post %>
    </div>

    <%= link_to "Supprimer le brouillon", post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de supprimer le brouillon ?"} %>

  </div>

</div>

      <%= form_with model: @post, url: post_photos_path(@post), method: :post, local: true do |form| %>
          <div class="actions">
            <%= form.submit "Générer une nouvelle photo"%>
          </div>
        </div>
      <% end %>



      <%= form_with model: @post, url: load_my_photo_post_photos_path(@post), method: :post, local: true do |form| %>
        <div class="images">
          <div class="file-upload-wrapper" data-controller="file-upload">
            <%= form.label :photos, "Charger une photo", class: "custom-file-upload" %>
            <%= form.file_field :photos, multiple: true, direct_upload: true, data: { action: "change->file-upload#updateFileName", file_upload_target: "source" } %>
            <span data-file-upload-target="fileName" class="file-name"></span>
          </div>

          <div class="actions">
            <%= form.submit "charger les photos"%>
          </div>
        </div>
      <% end %>
