<%# NOTIF: HTML CSS A revoir %>
<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%# TRES IMPORTANT: Canal de diffusion des changements d'images %>
<%= turbo_stream_from "post_#{@post.id}" %>
<div class="gnration-de-la">
  <div class="frame-show">
    <div class="div-show">

      <p>Sélectionner l'ordre des images</p>
      <div class="creation-images" id="photos">
        <% @post.photos.each_with_index do |photo, i| %>

          <%# Pour ajouter/enlever la photo des sélections et supprimer la photo %>
          <%# La place de la photo est aussi dans le partial %>

          <%= render 'photos/show-photo', post: @post, photo: photo, i: i %>
        <% end %>

</div>
        <%# Recréer une photo %>
        <%= render "photos/btn-create-new-photo", post: @post %>
        <%= render "photos/btn-load-photos", post: @post %>
        <%= image_tag("line_2.png", alt:"line") %>



        <div class="frame-description">
          <div class="description-de-post">
            <%# Description + générer ou modifier une description %>
            <%= render 'gpt_creations/recreate', gpt_creation: @gpt_creation %>
          </div>
        </div>

      </div>
</div>

  <div class="view-insta">
      <%= render "insta_show", post: @post, description: @description, photos_selected: @photos_selected %>
      <%= render "show_btns", post: @post %>
  </div>

</div>
