<%# TRES IMPORTANT: Canal de diffusion des changements d'images %>
<%= turbo_stream_from "post_#{@post.id}" %>

<%# Affiche une notif ou alert, changer css de l'alert %>

<div class="gnration-de-la">
  <div class="frame-show">
    <div class="div-show" data-controller="form-submission">
      <div class="creation-images" id="photos">

        <%= render partial: "photos/show-photo", collection: @post.photos, as: :photo, locals: {post: @post} %>

        <%# render 'photos/loading-photo' %>

        <div class="bouton-images" id="btn-create-load-photo">
          <%= render "photos/btn-create-new-photo", post: @post %>
          <%= render "photos/btn-load-photos", post: @post %>
        </div>
      </div>

      <div class="frame-description">
        <div class="description-de-post">
          <%= render 'gpt_creations/recreate', gpt_creation: @gpt_creation %>
        </div>
      </div>

    </div>
  </div>

  <div class="view-insta">

      <%= render "insta_show", post: @post, gpt_creation: @gpt_creation, description: @description, photos_selected: @photos_selected %>
      <%# <%= render "show_btns", post: @post %>
  </div>
</div>
