<div class="show" data-controller="display">

  <div class="creation">
    <div class="creation-images">
      <% if @images %>
        <% @images.each do |img| %>

        <%= cl_image_tag img.key%>
        <% end %>
      <% end %>
    </div>

    <div class="prompt-insta"><%= @post.prompt %></div>

    <div class="description"><%= @description if @description %></div>

    <div >
      <div>
        <button data-action="click->display#fireArea" data-display-target="modif" class="btn-creation">
          Modifier ma description ✏️
        </button>

          <div style="flex-basis:100%" data-display-target="textarea" class="d-none" data-controller="extends"
          data-action="input->extends#updateTextarea"
          data-extends-target="dimension">
            <%= form_for(@post)  do |f| %>
              <%= f.text_area :description,
               label: false,
               placeholder: @description,
                input_html: { id:"modif-description" ,
                              class:"description",
                              data: {
                                controller: "extends",
                                action: "input->extends#updateTextarea",
                                extends_target: "dimension"
                              }
                }
                %>
              <div class="d-flex justify-content-around">
                <button data-action="click->display#cancelArea" class="button-cancel">
                  Annuler
                </button>
                <%= f.submit "Modifier ✔️", class:"button-annexe" %>
              </div>
            <% end %>

           </div>
      </div>
    </div>
  </div>

  <div class='view-insta decalage' data-display-target="view">
    <div><h4>Vue Instagram</h4></div>
    <div class="instagram"><%= render "insta_show", post: @post, description: @description %></div>
    <div><%= render "show_btns", post: @post %></div>
  </div>

</div>
