<div class="menu-list">
  <%= link_to new_post_path do %>
    <div class="nouvelle-publication-wrapper">
      <div class="div-2-sidebar">
        <%= image_tag "icon-new.svg", alt:"publications" %>
        <div class="text-wrapper-4">Générer un post</div>
      </div>
    </div>
  <% end %>


  <%= link_to drafts_path do %>
    <div class="nouvelle-publication-wrapper">
      <div class="div-2-sidebar">
        <%= image_tag("icon-draft.svg", alt:"brouillons") %>
        <div class="text-wrapper-4">Brouillons</div>
      </div>
    </div>
  <% end %>

        <%# <div class="nouvelle-publication-wrapper">
          <div class="div-2-sidebar">
            <%# image_tag("icon_programmation", alt:"programmation") %>
            <%# <div class="text-wrapper-4"><%= link_to "Posts Programmés", new_post_path %>
            <%# </div> %>
          <%# </div>
        </div> %>
        <%#
        <div class="nouvelle-publication-wrapper">
          <div class="div-2-sidebar"> %>
            <%# image_tag("icon_historique", alt:"historique") %>
            <%# <div class="text-wrapper-4"><%= link_to "Historique", new_post_path %>
            <%# </div> %>
          <%# </div>
        </div> %>



   <%= link_to cart_path do %>
     <div class="nouvelle-publication-wrapper">
       <div class="div-2-sidebar">
         <div class="text-wrapper-4">
            <%= turbo_frame_tag "wallet" do %>
              <%= @wallet %>
            <% end %>
        </div>
        <div class="text-wrapper-4"><%= current_user.status %>
         </div>
         <div class="text-wrapper-4">Acheter</div>
       </div>
     </div>
   <% end %>

<% if current_user.admin? %>
  <%= link_to admin_root_path do %>
    <div class="nouvelle-publication-wrapper">
      <div class="div-2-sidebar">
        <%# image_tag("icon-admin.svg", alt:"admin") %>
        <div class="text-wrapper-4">Admin Mode</div>
      </div>
    </div>
  <% end %>
<% end %>

</div>
