<%# LE RESPONSIVE DE LA NAVBAR %>

 <div  class="sidebar-responsive" data-controller="menu">
  <div class= "logo-responsive">
    <%= link_to new_post_path do %>
     <%= image_tag("logo_principal_eazia.png", alt:"logo eazia") %>
    <% end %>
   </div>

   <div class="navbar-elements">
    <div class="user-responsive">
      <%= link_to account_path do %>
       <%= image_tag("icon-user.svg", alt:"compte") %>
       <% end%>
    </div>

    <input type="checkbox" id="menu-toggle" class="menu-toggle"/>
      <label for="menu-toggle" class="menu-button"><%= image_tag("hamburger.svg", alt:"menu") %></label>
        <div class="menu-list-responsive">
          <div class="div-2-sidebar-responsive">
            <%= link_to new_post_path do %>
              <div class="nouvelle-publication-wrapper-responsive">
                <%= image_tag "icon-new.svg", alt:"publications" %>
                <div class="text-wrapper-4">Nouvelle publication</div>
              </div>
            <% end %>
          </div>

          <div class="div-2-sidebar-responsive">
            <%= link_to drafts_path do %>
              <div class="nouvelle-publication-wrapper-responsive">
                <%= image_tag("icon-draft.svg", alt:"brouillons") %>
                <div class="text-wrapper-4">Brouillons</div>
              </div>
            <% end %>
          </div>

          <%# <div class="div-2-sidebar-responsive">
            <div class="nouvelle-publication-wrapper-responsive">
              <%= image_tag("icon_programmation.png", alt:"programmation") %>
               <%# <div class="text-wrapper-4"><%= link_to "Posts Programmés", new_post_path %>
               <%# </div> %>
            <%# </div> %>
          <%# </div> %>

          <%# <div class="div-2-sidebar-responsive">
            <div class="nouvelle-publication-wrapper-responsive">
              <%= image_tag("icon_historique.png", alt:"historique") %>
               <%# <div class="text-wrapper-4"><%= link_to "Historique", new_post_path %>
               <%# </div> %>
            <%# </div> %>
           <%# </div>
         </div> %>
          </div>

          <div class="responsive-link">
            <%= link_to "Post", new_post_path %>
          </div>



</div>
</div>
