<h1 class="text-center my-5">
  Admin Mode - Utilisateur - Modifier <%= @user.first_name %> <%= @user.last_name %>
</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Modifier les informations</h3>
        </div>
        <div class="card-body">
          <%= form_for @user, url: admin_user_path(@user), method: :patch do |f| %>
            <div class="form-group">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :wallet %>
              <%= f.number_field :wallet, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :status %>
              <%= f.select :status, User.status_options, {}, { class: "form-control" } %>
            </div>

            <%= f.submit "Modifier", class: "btn btn-primary" %>

          <% end %>

        </div>
      </div>
    </div>
  </div>
