<%# "products/_card-product.html.erb" %>

<%= link_to product_payments_checkout_path(product) do %>
  <div class="card">
    <h4>
      <%= product.name %>
    </h4>
    <h5>
      <%= product.price %> €
      <%= product.mode == "subscription" ? product.subscribe_type : "" %>
    </h5>
    <p>
      <% if product.amount %>
        <%= product.amount %>
        jetons crédités instantanément dans votre porte-monnaie.
      <% end %>
    </p>
    <p>
      <%= product.description %>
    </p>
  </div>

  <% end %>
