<nav id='menu'>
   <section id="navigation">
    <% if current_user %>
    <input type="checkbox" id="menu-toggle" hidden>
      <label for="menu-toggle"class="menu">☰</label>
        <ul class='sub-menus'>
          <li class="text-start"><%= link_to "Nouveau", new_post_path %></li>
          <li class="text-start"><%= link_to "Brouillons", new_post_path%></li>
          <li class="text-start"><%= link_to "Posts Programmés", new_post_path %></li>
          <li class="text-start"><%= link_to "Historique", new_post_path %></li>
          <li class="text-start"><%= link_to "Générateur d’idées", new_post_path %></li>
          <li style="font-weight:lighter">_________________</li>
          <li class="text-start", style="font-weight:lighter"><%= link_to "Mon comptes", new_post_path %></li>
          <li class="text-start", style="font-weight:lighter"><%= link_to "Mes statistiques", new_post_path %></li>
          <li class="text-start", style="font-weight:lighter"><%= link_to "CGV", new_post_path %></li>
          <li class="text-start", style="font-weight:lighter"><%= link_to "Mentions Légales", pages_legal_path %></li>
          <li class="text-start", style="font-weight:lighter"><%= link_to "Contact", new_post_path %></li>
          <li style="font-weight:lighter">_________________</li>
          <%= form_with url: destroy_user_session_path, method: :delete do %>
          <%= submit_tag "Déconnexion", class:"logout-button" %>
          <% end %></li>
        </ul>
    <% end %>
    </section>


  <section id="main-titre">
  <%= link_to root_path do %>
      <h3>Votre générateur de contenus par l’IA</h3>
    <% end %>
  </section>

   <section id="main-logo">
    <%= link_to root_path do %>
      <%= image_tag("logo-eazia.svg", alt:"logo eazia") %>
    <% end %>
  </section>

</nav>
