<div class="sidebar">
<% if current_user %>
  <div class="frame-4">
  <div class= "logo">
  <%= link_to new_post_path do %>
  <%= image_tag("logo_principal_eazia.png", alt:"logo eazia") %>
  <% end %>
  </div>
      <div class="menu-list">

      <%= link_to new_post_path do %>
        <div class="nouvelle-publication-wrapper">
          <div class="div-2-sidebar">
            <%= image_tag "icon-new.svg", alt:"publications" %>
            <div class="text-wrapper-4">Nouvelle publication</div>
          </div>
        </div>
        <% end %>


        <%= link_to drafts_path do %>
          <div class="nouvelle-publication-wrapper">
            <div class="div-2-sidebar">
              <%= image_tag("icon-draft.svg", alt:"brouillons") %>
              <div class="text-wrapper-4">Brouillons</div>
            </div>
          </div>
        <% end %>

        <%# <div class="nouvelle-publication-wrapper">
          <div class="div-2-sidebar">
            <%# image_tag("icon_programmation", alt:"programmation") %>
            <%# <div class="text-wrapper-4"><%= link_to "Posts Programmés", new_post_path %>
            <%# </div> %>
          <%# </div>
        </div> %>
<%#
        <div class="nouvelle-publication-wrapper">
          <div class="div-2-sidebar"> %>
            <%# image_tag("icon_historique", alt:"historique") %>
            <%# <div class="text-wrapper-4"><%= link_to "Historique", new_post_path %>
            <%# </div> %>
          <%# </div>
        </div> %>


      </div>
  </div>

  <%# <div class="div-2-sidebar"> %>
    <%# <div class="div-3"> %>
      <%# <div class="inner"> %>

        <%# <%= link_to products_path do %>
          <%# <div class="nouvelle-publication-wrapper"> %>
            <%# <div class="div-2-sidebar"> %>
              👛
              <%# <div class="text-wrapper-4"><%= current_user.wallet.tokens %>
               <%# </div> %>
               <%# <div class="text-wrapper-4"><%= current_user.status %>
               <%# </div> %>
               <%# <div class="text-wrapper-4">Acheter</div> %>
            <%# </div> %>
          <%# </div> %>
        <%# <% end %>

        <div class="user">
          <%= link_to account_path do %>
            <div class="div-2-sidebar">
              <%= image_tag("icon-user.svg", alt:"compte") %>
            <div class="text-wrapper-4"> Mon compte</div>
          </div>
          <% end%>
        </div>
        </div>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
<% end %>


<%# LE RESPONSIVE DE LA NAVBAR %>

<div  class="sidebar-responsive" data-controller="menu">
  <div class= "logo-responsive">
    <%= link_to new_post_path do %>
    <%= image_tag("logo_principal_eazia.png", alt:"logo eazia") %>
    <% end %>
  </div>

  <div class="navbar-elements">
    <div class="hamburger-lines" data-action="click->menu#toggleMenu">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>


    <div class="menu-list-responsive" data-menu-target="hamburger">
      <div class="div-2-sidebar-responsive">
          <%= link_to new_post_path do %>
           <%# <div class="nouvelle-publication-wrapper"> %>
               <%= image_tag "icon-new.svg", alt:"publications" %>
              <div class="text-wrapper-4">Nouvelle publication</div>
           <%# </div> %>
          <% end %>
              </div>


              <div class="div-2-sidebar-responsive">
           <%= link_to drafts_path do %>
            <%# <div class="nouvelle-publication-wrapper"> %>
                 <%= image_tag("icon-draft.svg", alt:"brouillons") %>
                <div class="text-wrapper-4">Brouillons</div>
              <%# </div> %>
          <% end %>
            </div>

          <%# <div class="nouvelle-publication-wrapper">
            <div class="div-2-sidebar">
              <%# image_tag("icon_programmation", alt:"programmation") %>
              <%# <div class="text-wrapper-4"><%= link_to "Posts Programmés", new_post_path %>
              <%# </div> %>
            <%# </div>
          </div> %>
          <%#
          <div class="nouvelle-publication-wrapper">
            <div class="div-2-sidebar"> %>
              <%# image_tag("icon_historique", alt:"historique") %>
              <%# <div class="text-wrapper-4"><%= link_to "Historique", new_post_path %>
              <%# </div> %>
            <%# </div>
          </div> %>


     </div>
     </div>

    <div class="user-responsive">
      <%= link_to account_path do %>
      <%= image_tag("icon-user.svg", alt:"compte") %>
      <% end%>
    </div>


    <div class="responsive-link">
        <%= link_to "Post", new_post_path %>
    </div>

  </div>
</div>
