<div class="sidebar">
<% if current_user %>
  <div class="frame-4">
  <div class= "logo">
  <%= image_tag("logo_principal_eazia.png", alt:"logo eazia") %>
  </div>
      <div class="menu-list">
        <div class="nouvelle-publication-wrapper">
          <div class="div-2">
            <%# <%= image_tag("icon_publications", alt:"publications") %>
            <div class="text-wrapper-4"><%= link_to "Nouvelle publication", new_post_path %></div>
          </div>
        </div>

        <div class="nouvelle-publication-wrapper">
          <div class="div-2">
            <%# image_tag("icon_programmation", alt:"programmation") %>
            <div class="text-wrapper-4"><%= link_to "Posts Programmés", new_post_path %></div>
          </div>
        </div>

        <div class="nouvelle-publication-wrapper">
          <div class="div-2">
            <%# image_tag("icon_historique", alt:"historique") %>
            <div class="text-wrapper-4"><%= link_to "Historique", new_post_path %></div>
          </div>
        </div>

        <div class="nouvelle-publication-wrapper">
          <div class="div-2">
            <%# image_tag("icon_brouillons", alt:"brouillons") %>
            <div class="text-wrapper-4"><%= link_to "Brouillons", drafts_path%></div>
          </div>
        </div>

      </div>
  </div>

  <div class="div-2">
    <div class="div-3">
      <div class="inner">
        <div class="user"><%#image_tag("icon_user", alt:"compte") %></div>
        <div class="text-wrapper-5"><%= link_to "Mon compte", account_path %></div>
      </div>
    </div>
  </div>
<% end %>
</div>
