<div class="sidebar">
<% if current_user %>
  <div class="frame-4">
  <div class= "logo">
  <%= image_tag("logo_principal_eazia.png", alt:"logo eazia") %>
  </div>
      <div class="menu-list">

      <%= link_to new_post_path do %>
        <div class="nouvelle-publication-wrapper">
          <div class="div-2-sidebar">
            <%= image_tag "icon_publications.png", alt:"publications" %>
            <div class="text-wrapper-4">Nouvelle publication</div>
          </div>
        </div>
        <% end %>


        <%= link_to drafts_path do %>
          <div class="nouvelle-publication-wrapper">
            <div class="div-2-sidebar">
              <%= image_tag("icon_brouillons.png", alt:"brouillons") %>
              <div class="text-wrapper-4">Brouillons</div>
            </div>
          </div>
        <% end %>

        <%# <div class="nouvelle-publication-wrapper">
          <div class="div-2-sidebar">
            <%# image_tag("icon_programmation", alt:"programmation") %>
            <%# <div class="text-wrapper-4"><%= link_to "Posts Programmés", new_post_path %>
            <%# </div> %>
          <%# </div>
        </div> %>
<%#
        <div class="nouvelle-publication-wrapper">
          <div class="div-2-sidebar"> %>
            <%# image_tag("icon_historique", alt:"historique") %>
            <%# <div class="text-wrapper-4"><%= link_to "Historique", new_post_path %>
            <%# </div> %>
          <%# </div>
        </div> %>


      </div>
  </div>

  <%# <div class="div-2-sidebar"> %>
    <%# <div class="div-3"> %>
      <%# <div class="inner"> %>
        <div class="user">
        <%= image_tag("icon_user.png", alt:"compte") %>
        <%= link_to "Mon compte", account_path %>
        </div>
        </div>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
<% end %>
</div>
