<!DOCTYPE html>
<html>
  <head>
    <title>Eazia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="turbo-refresh-method" content="morph">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body >
  <% if user_signed_in? %>
    <%= render 'layouts/navbar' %>
  <% end %>

  <div class="content">
    <%= yield %>
  </div>

  <% if user_signed_in? %>
    <%= render 'layouts/footer' %>
  <% end %>
</body>

</html>
