<!DOCTYPE html>
<html>
  <head>
    <title>Eazia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="turbo-refresh-method" content="morph">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:3663854,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  </head>

 <body class="<%= 'user-logged-in' if user_signed_in? %>">
  <%= render_navbar %>

  <%= render 'layouts/flashes' %>

  <div class="content">
    <div class="ellipse">
      <div class="orange">
        <div class="ellipse-orange"></div>
      </div>
      <div class="rose-bleue">
        <div class="ellipse-rose"></div>
        <div class="ellipse-bleue"></div>
      </div>
    </div>
    <%= yield %>
  </div>

  <%# <% if user_signed_in? %>
    <%# <div class="footer"> %>
      <%# <%= render 'layouts/footer'%>
    <%# </div> %>
  <%# <% end %>
</body>

</html>
