<!DOCTYPE html>
<html>
  <head>
    <title>Eazia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="turbo-refresh-method" content="morph">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body class="<%= 'user-logged-in' if user_signed_in? %>">
  <% if user_signed_in? %>
    <div class="navbar">
      <%= render 'layouts/navbar' %>
    </div>
  <% end %>

  <div class="content">
    <%= yield %>
  </div>

  <% if user_signed_in? %>
    <div class="footer">
      <%= render 'layouts/footer'%>
    </div>
  <% end %>
</body>

</html>

    <%# <div class="ellipse"></div>
    <div class="ellipse-3"></div>
    <div class="ellipse-2"></div> %>
