<!DOCTYPE html>
<html>
  <head>
    <title>Eazia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="menu">
  <%= render 'layouts/navbar'%>
  <div class="content">
    <%= yield %>
    </div>
    <%= render 'layouts/footer'%>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= ENV["FB_APP_ID"] %>', // Utilise ton Facebook App ID ici
          cookie     : true,
          xfbml      : true,
          version    : 'v19.0' // Assure-toi d'utiliser la dernière version de l'API Graph
        });

        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/fr_FR/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>


  </body>
</html>
