<!DOCTYPE html>
<html>
  <head>
    <title>Eazia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="turbo-refresh-method" content="morph">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="menu">
  <%= render 'layouts/navbar'%>
  <div class="content">
    <%= yield %>
    </div>
    <%= render 'layouts/footer'%>


  </body>
</html>
