<!DOCTYPE html>
<html>
  <head>
    <title>Eazia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="turbo-refresh-method" content="morph">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'layouts/scripts/hotjar' %>
  </head>

  <body <% if user_signed_in? %> class="user-logged-in" <% end %>>
    <% unless @landing_page %> <!-- condition pour vérifier si ce n'est pas la landing page -->
      <%= render_navbar %>
    <% end %>

    <%= render 'layouts/flashes' %>

    <% unless @landing_page %> <!--condition pour vérifier si ce n'est pas la landing page -->
      <div class="content">
        <%= render 'layouts/background/ellipse' %>
    <% end %>

    <%= yield %>

    <% unless @landing_page %> <!-- Fermeture de la condition pour vérifier si ce n'est pas la landing page -->
      </div>
    <% end %>
  </body>
</html>
